Confirm registration on DownTime
=====
<p>Hello {{name}},</p>

<p>To complete your registration process in DownTime please click on the following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
