    </div>
  </section>
  <script nonce="<%= nonce %>">
const $ = document.querySelector.bind(document);
$('#guest')?.addEventListener('click', ()=>{
  let next = location.href;
  next = encodeURIComponent(next);
  location.href = `/guest?next=${next}`;
  return false;
})
$('#logout')?.addEventListener('click', ()=>{
  let next = '/';
  if (!location.pathname.startsWith('/me/'))
    next = location.href;
  next = encodeURIComponent(next);
  
  location.href = `/logout?next=${next}`;
  return false;
})
$('#report')?.addEventListener('click', ()=>{
  let url = encodeURIComponent(location.href);
  location.href = `/report?url=${url}`;
  return false;
});
  </script>
  </body>
</html>
